<h1>Worksheets</h1>
<div class="input-group searchform">
  <span class="input-group-btn">
    <button class="btn btn-default" ng-click="full_content_search()" type="button">Go!</button>
  </span>
  <input type="text" class="form-control" ng-model="full_search" placeholder="Search for...">
</div>
<br>

<div class="row">
  <div class="filter col-md-3">

  <filter-box criteria="filter_criteria" search='search'></filter-box>
  </div>

  <div class="col-md-9">

          <div ng-repeat= "worksheet in filtered_worksheets | filter: search" class="row worksheets">
            <worksheet worksheet="worksheet" delete="delete(worksheet)"></worksheet>
          </div>
          <a href="#/worksheets/new" class="btn btn-default worksheets">  <span class="glyphicon glyphicon-plus"></span>Add a worksheet</a>


  </div>
</div>
<br>
