<h1>Listing Worksheets</h1>

<input type="text" class="form-control"  value="" ng-model="search.$">

<table class="table">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Subject</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat= "worksheet in worksheets | filter: search">
        <td> {{ worksheet.klass }} </td>
        <td> {{ worksheet.category.subject }} </td>
        <td>{{worksheet.category.name }} </td>
        <td>{{ worksheet.description }}</td>
        <td><a ng-href = "http://{{worksheet.file.url}}" class= "btn btn-default">Download</a></td>
      </tr>
  </tbody>
</table>
<a href="#/worksheets/new" class="btn btn-default">Add a worksheet</a>
<br>
