<form name="worksheet_form">

<div class="form-group">
  <label for="subject"> Subject</label>
  <select class="form-control" name="subject" ng-model="subject" required>
    <option ng-repeat="subject in subjects" value={{subject}}> {{subject}}</option>
  </select>
</div>

<div class="form-group">
  <label for="category"> Category</label>
  <select class="form-control" name="category" ng-model="category" required>
    <option ng-repeat="category in categories | filter:{subject: subject}" value={{category}}> {{category.name}}</option>
  </select>
</div>

<div class="form-group">
  <label for="grade"> Grade</label>
  <input type="number" ng-model="grade" name="grade" class="form-control" required value="5"></input>
</div>

<div class="btn btn-default" ngf-select ng-model="files" ngf-multiple="true">Select file(s)</div>
<div ng-repeat="file in files">
  <p> {{file.name}} <button ng-click="delete_file(file)" class="btn"><span class="glyphicon glyphicon-remove"></span></button> </p>
</div>


<div class="form-group">
  <label for="description"> Description </label>
  <input type="text" ng-model="description" name="description" class="form-control" value="">
</div>

<div class="actions">
  <button name="Submit" ng-click="submit(worksheet_form)" class="btn btn-default">Submit</button>
</div>

</form>
